<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>X-RapidAPI-Key</key>
	<string>46bfc16e82msh96239f52bd87724p102c67jsn7c7bce8c6d9e</string>
	<key>UIAppFonts</key>
	<array>
		<string>FormulaOne-Regular.ttf</string>
		<string>FormulaOne-Bold.ttf</string>
	</array>
</dict>
</plist>
